body {
    margin: 0.5rem;
    padding: 0;
    font-family: 'Roboto';
}

.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-items: center;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: rgba(107,114,128,var(--tw-text-opacity));
    --tw-text-opacity: 1;
    font-size: 1.2rem;
}

.nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 3rem;
}

.flex-container {
    display: flex;
    margin-top: 2rem;
}

.hero-left {
    flex: 1;
}

.hero-left p {
    margin: 0;
    margin-right: 5rem;
}

.hero-left .main-text {
    font-size: 48px;
    font-weight: 800;
}

.hero-left .sub-text {
    font-size: 18px;
    font-weight: 800;
}

.hero-right {
    flex : 1;
    background-color: gray;
    justify-content: space-between;
}
